<!-- Logo -->

<header class="clearfix">

<div class="top-nav">
<ul class="nav-left list-unstyled">
    <li>
        <!-- needs to be put after logo to make it working-->
        <div class="menu-button" toggle-off-canvas>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

    </li>
</ul>
    <ul data-ng-controller="ActionsCtrl as actions" class="nav-button pull-right list-unstyled header-actions">
        <li>
            <a href="/#/pages/signin" class="dropdown-toggle signin-link" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell color-default"></i> Sign in
            </a>
        </li>
    </ul>
</div>

</header>


